@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap ');

:root{
    --header-height: 3rem;

/*==================== COLORS ===================== */

/* HSL color modes  
i.e hue, saturation, lightness (HSL) color modes

HSL are CSS custom properties or CSS variables that contain values that can be reused or 
referenced in different sections of a website. CSS custom properties are prefixed with a double hyphen-- 
meaning the property contains a value that can be used in other declarations using the var () function*/ 


/* change favorite color:  */

--hue-color: 250; /* purple 250, green 145, blue 230, pink 340 */

    
--first-color: hsl(var(--hue-color), 69%, 61%);
--first-color-second: hsl(var(--hue-color), 92%, 85%);
--first-color-alt: hsl(var(--hue-color), 57%, 53%);
--first-color-lighter: hsl(var(--hue-color), 8%, 15%);
--title-color: hsl(var(--hue-color), 8%, 15%);
--text-color: hsl(var(--hue-color), 8%, 45%);
--text-color-light: hsl(var(--hue-color), 8%, 65%);
--input-color: hsl(var(--hue-color),70%, 96%);
--body-color: hsl(var(--hue-color), 60%, 99%);
--container-color: #FFF;

/*==================FONT & TYPOGRAPHY=====================*/

    /*.5rem = 8px, 1rem = 16px, 1.5rem = 24px*/

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

/*-----font weight-------*/
    --font-medium: 500;
    --font-semi-bold: 600;

/*-----margin bottom-----*/
    --mb-0-25:.25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: .1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2rem;
    --mb-3: 3rem;

/*------z index------*/
--z-tooltip: 10;
--z-fixed: 100;
--z-modal: 1000;
}
/*-----font size for large devices-----*/
@media screen and (min-width: 968px) {
   :root {
        --big-font-size: 3rem;
        --hi-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/*------Dark theme variables -------*/

/*------ Button dark/light ---------*/



/*==================== BASE =========================-*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    color: bla;
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*=================== RESUSABLE CSS CLASSES =================*/
.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle{
    text-align: center;
}

/*==================== LAYOUT ========================*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
/*===============NAVIGATION BAR ======================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover{
    color: var(--first-color);
    
}

.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav_toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed; /* sets how an element is positioned in a document */
        bottom: -100%; /* sets the vertical position of a positioned element*/
        left: 0; /* this and the bottom property gives your browser a new bounding box. The feft property specifies the the horizontal position of a positioned element */ 
        width: 100%; /* 100% width ensures the nav bar fills up the entire screens width*/ 
        background-color: var(--body-color); 
        padding: 2rem 1.5rem 4rem; /* creates some padding around the edge of the navigation bar */
        box-shadow: 0 -1px 4px rgba(0,0,0,.15); /*creates a shadow on the rounded top edge */
        border-radius: 1.5rem 1.5rem 0 0; /*creates a rounded effect on the top edge*/
        transition: .3s;
    
    }
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_icon{
    font-size: 1.2rem;
}

.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);

}

.nav_close:hover{
    color: var(--first-color-alt);
}

/*Show menu*/
.show-menu{
    bottom: 0;
}
/* ========================== HOME ======================== */
 .home_container{
     gap: 1rem;
 }

 .home_content{
     grid-template-columns: .50fr 3fr;
     padding-top: 3.5rem;
     align-items: center;
 }

 .home_social{
     display: grid;
     grid-template-columns: max-content;
     row-gap: 1rem;
 }

 .home_social-icon{
     font-size: 1.50rem; /* original size was 1.25 rem. Also changes size in html to la-lg for all social icons*/
     color: var(--first-color);
 }

 .home_social-icon:hover{
     color: var(--first-color-alt);
 }

 .home_blob{
     width: 250px; /* original size was 200px*/
     fill: var(--first-color);
 }

 .home_blob-img{
     width: 120px; /* original size was 150 px*/
 }

 .home_data{
     grid-column: 1/3;
 }

 .home_title{
     font-size: var(--big-font-size);
     
 }

 .home_subtitle{
     font-size: var(--h3-font-size);
     color: var(--text-color);
     font-weight: var(--font-medium);
     margin-bottom: var(--mb-0-75);
 }

 .home_description{
     margin-bottom: var(--mb-2);
 }

 .home_scroll{
     display: none;
 } 

 .home_scroll-button{
     color: var(--first-color);
     transition: .3s;
 }

 .home_scroll-button:hover{
     transform: translateY(0.25rem);
 }

 .home_scroll-mouse{
     font-size: 2rem;
 }

 .home_scroll-name{
     font-size: var(--small-font-size);
     color: var(--title-color);
     font-weight: var(--font-medium);
     margin-right: var(--mb-0-25);
 }

 .home_scroll-arrow{
     font-size: 1.25rem;
 }

 /* ================= BUTTONS ======================== */
 .button{
     display: inline-block;
     background-color: var(--first-color);
     color: #FFF;
     padding: 1rem;
     border-radius: .5rem;
     font-weight: var(--font-medium);
 }

 .button:hover{
     background-color: var(--first-color-alt);
 }

 .button_icon{
     font-size: 1.25rem;
     margin-left: var(--mb-0-5);
     transition: .3s;
 }

 .button--flex{
     display: inline-flex;
     align-items: center;

 }
/* ======================== ABOUT ========================= */
.about_img{
    width: 300px; /*original size 200px*/
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about_description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about_info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about_info-name{
    font-size: var(--smaller-font-size);
}

.about_info-title,
.about_info-name{
    display: block;
    text-align: center;
}

.about_buttons{
    display: flex;
    justify-content: center;
}






/*Active link*/
/* change background header */

